<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="medium">
    <ion-label>
      Bienvenido Usuario {{tokenUser}}

    </ion-label>
  </ion-item>
  <!--<app-card-entrada [entrada]="entradaActual" (eventoGuardar)="guardar($event)"></app-card-entrada>-->

  <ion-card *ngIf="entradaActual">
    <ion-card-content>
      <p id="fechaTexto">{{entradaActual.fechaTexto}} </p>
      <p id="fechaTexto">{{entradaActual.dato}} </p>
      <!--<p>{{entradaActual.texto}}</p>-->
      <!-- Textarea in an item with a floating label -->
      <ion-item>
        <ion-label position="floating">Agregar Alumno</ion-label>
        <ion-textarea row="5" [(ngModel)]="entradaActual.texto" [disabled]="soloLectura"></ion-textarea>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block" (click)="guardar(entradaActual)" *ngIf="!soloLectura">
      Guardar
    </ion-button>
    <!-- LISTA -->
    <ion-list>
      <ion-item *ngFor="let alumno of alumnos" [routerLink]="['alumnos'+alumno.id]">
        <ion-avatar slot="start">
          <ion-img [src]="alumno.imageURL"></ion-img>
        </ion-avatar>
        <ion-label>
          {{alumno.user}}
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- /LISTA -->
  </ion-card>

</ion-content>
